:root {
  --primary-color: #343434;
  --secondary-color: #2a2b2d;
  --background-color: #262422;
  --third-color: #36373a;
  --text-color: #cacbce;
  --border-color: rgba(255, 255, 255, 0.25);

  --primary-font: "Playfair Display", serif;
}
