.singleProductPage-backbttn {
  position: absolute;
  top: 15%;
  color: var(--text-color);
  width: 100px;
  height: auto;
  z-index: 999;
  padding: 5px;
  color: var(--text-color);
  background-color: var(--border-color);
  border: none;
  font-size: 26px;
  border-radius: 5px;
}
.singleProductPage-backbttn:hover {
  background-color: var(--border-color);
}
